<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Addition : {{ sum }}</p>
    <p>Subtraction : {{ sub }}</p>
    <p>Multiplication : {{ mul }}</p>
  </body>
</html>